@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #fff;
}

nav {
    width: 95%;
    margin: 1rem auto;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
}

body {
    background-color: #212529;
}

p {
    font-size: 1.2rem;
}

img {
    width: 100%;
}

.logo {
    width: 100px;
}


main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

button {
    padding: 15px;
    border: none;
    border-radius: 20px;
    width: 150px;
    background-color: #212529;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    color: #FFB742;
}

.text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 70%;
    margin: 5rem auto;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    padding: 30px 20px;
}

.text-content h1 {
    font-size: 5rem;
    color: #FFB742;
}

.text-content p {
    font-size: 1.1rem;
    line-height: 30px;
}

.avatar {
    display: grid;
    place-content: center;
}

.avatar img {
    width: 180px;
}

.box {
    background-color: #212529;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .8rem;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 300px;
    min-height: 150px;
    border-radius: 20px;
}

.box:hover {
    transform: scale(20px);
}

.box div {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.box div h3 {
    color: #FFB742;
    font-size: 1.5rem;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 1rem auto;
    gap: 5rem;
    flex-wrap: wrap;
}

i {
    color: #FFB742;
}
@media (max-width: 600px) {
    .logo {
        width: 50px;
    }
    .github {
        width: 50px;
    }
    footer {
        justify-content: center;
        margin-top: 2rem;
        gap: 2rem;
    }

    .text-content {
        width: 95%;
    }

    .text-content h1 {
        font-size: 3.5rem;
    }
}